@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--background: #FFFFFF;
	--foreground: #000000;
	--primary: #cc75ff;
	--secondary: #ffddaa;
}

.dark {
	--background: #000000;
	--foreground: #FFFFFF;
	--primary: #cc75ff;
	--secondary: #ffddaa;
}